body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

header {
    background-color: #413f3f;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1em;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

#welcome-page {
    display: none;
}

#books-list,
#book-details {
    margin: 20px;
    gap: 10px;
    display: block;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;


}



li {
    margin: 1em 0;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    max-height: 400px;
    margin: 10px;
}




/* Add this to your existing CSS file or a new one */

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#inlogning-container {
    background-color: rgb(61, 50, 50);

}

#login-section,
#register-section {
    background: rgba(198, 126, 126, 0.985);
    border: 0.5px solid gray;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    width: 250px;
    height: 300px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}




h1 {
    margin: 5px;
    font-weight: 300;
}

h2 {
    text-align: center;
}

input {
    width: 60%;
    height: 30px;
    margin: 10px 0;
    border-radius: 15px;
    text-align: center;
}



#login {
    border-bottom: 2px solid rgb(26, 6, 6);
}

#logoutBtn,
#myListBtn {
    background: lightgray;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 99px;
    margin: 20px 0;
}

#userPageBtn,
#loginBtn,
#registerBtn,
#backToAllBooksBtn {
    background: lightgray;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 99px;
    margin: 20px 0;
}

#loginBtn:hover,
#registerBtn:hover,
#logoutBtn:hover,
#myListBtn:hover {
    background: rgb(66, 61, 61);
    color: white;
    cursor: pointer;
}